<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<main class="form-signin">
  <p id="alert"><%= alert %></p>
  <div class="card bg-white bg-opacity-75">
    <div class="card-body">
      <%= form_tag sessions_path do |form| %>

        <h1 class="h3 mb-3 fw-normal text-grey">Please sign in</h1>

        <div class="form-floating">
          <%= text_field_tag :email, nil , class: 'form-control' %>
          <%= label_tag :email %>
        </div>
        <div class="form-floating">
          <%= password_field_tag :password, nil , class: 'form-control' %>
          <%= label_tag :password %>
        </div>
        <%= submit_tag "Sign in", class: 'w-100 btn btn-lg btn-primary' %>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      <% end %>
    </div>
  </div>

</main>

